<!DOCTYPE html>
<html lang="en">
<head>
<style>
body {align:center; color: darkgray;}
a:link {text-decoration: none;}
a:hover {color: red; text-decoration: underline;}

</style>
</head>
<body align="center">
<h1 align="center">Azure PDF Documentation</h1>
<h3 align="center">As of {{ data['date'] }}</h3>

<table width="15%" align="center" border="0">
{% for doc in data['docs'] %}
  <tr>
    <td align='center'><a href='{{doc["url"]}}'>{{doc["docname"]}}</a></td>
  </tr>
{% endfor %}
</table>

<h1>&nbsp;</h1>
<h4 align="center"><a href="https://github.com/cjoakim/azure-azdoc">This page created by the azdoc utility</a></h4>
<h1>&nbsp;</h1>

</body>
</html>
